@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  overflow-y: hidden;
}

.grid-container-close {
  display: grid;

  grid-template-columns: 45px 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden; /* I added this on my own to fix the scroll x shit */
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 10px;
  /* color: rgba(255, 255, 255, 0.95); */
}

.main-container-small {
  grid-area: main;
  display: hidden;
  opacity: 0;
}

.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.dashCard {
  background-image: url("./assets/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dashCardCover {
  position: absolute;
  height: fit-content;
  width: fit-content;
  background-color: gray;
}

@keyframes feature {
  from {
    /* For the starting - I'd have to adjust it each time I add a feature - prolly by reducing it */
    transform: translateX(-19%);
  }
  to {
    transform: translateX(-120%);
  }
}

.update {
  animation: feature 10s linear infinite;
}
@keyframes feature-small {
  from {
    /* For the starting - I'd have to adjust it each time I add a feature - prolly by reducing it */
    transform: translateX(1%); /* Start here */
  }
  to {
    transform: translateX(-100%); /* End here */
  }
}

.update-small {
  animation: feature-small 10s linear infinite;
}

/* Cleaners */
.cleaners {
  box-shadow: 10px -50px 10px 20px rgb(255, 255, 255);
  /* box-shadow: 10px -50px 10px 20px rgb(240, 253, 244); */
}

/* Tootip */
.tooltip,
.tooltip-hot {
  position: relative;
  /* display: inline-block; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  text-wrap: nowrap;
  /* background: greenyellow; */
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  position: absolute;
  z-index: 9999;
  top: 0px;
  left: 110%;
  /* color: green; */
  color: whitesmoke;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  /* border-color: transparent rgb(154, 255, 3) transparent transparent; */
  border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* For Hot */
.tooltip-hot .tooltip-hottext {
  visibility: hidden;
  width: fit-content;
  text-wrap: nowrap;
  /* background: greenyellow; */
  background: rgba(255, 251, 0, 0.795);
  padding: 4px 8px;
  position: absolute;
  z-index: 9999;
  top: 120%;
  left: -75%;
  /* color: green; */
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-hot .tooltip-hottext::after {
  content: "";
  position: absolute;
  right: 50%;
  top: -20%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  /* border-color: transparent rgb(154, 255, 3) transparent transparent; */
  border-color: transparent transparent rgba(255, 251, 0, 0.795) transparent;
}

.tooltip-hot:hover .tooltip-hottext {
  visibility: visible;
  opacity: 1;
}

/* History Table */
.shadow-history {
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.6);
}
